@model SistemaControleAcesso.Models.Perfil

@{
    ViewBag.Title = "Perfil de usuário";
}
<div class="alert alert-danger" role="alert">Deseja deletar registro?</div>


<div class="box-header with-border">
    <h3 class="box-title">Informações</h3>
</div>
<div class="box-body">
    <div class="row">
        <div class="form-group col-sm-3">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label" })
            <p class="form-control-static">@Html.DisplayFor(model => model.id)</p>
        </div>

        <div class="form-group col-sm-4">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label" })
            <p class="form-control-static">@Html.DisplayFor(model => model.nome)</p>
        </div>

        <div class="form-group col-sm-3">
            @Html.LabelFor(model => model.supervisor, htmlAttributes: new { @class = "control-label" })
            <p class="form-control-static">@SistemaControleAcesso.Models.Util.displayNameEnum(Model.supervisor)</p>
        </div>

        <div class="form-group col-sm-2">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })
            <p class="form-control-static">@SistemaControleAcesso.Models.Util.displayNameEnum(Model.status)</p>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box-footer">
        <div class="box-tools pull-right">
            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Deletar</button>
            <a href="@Url.Action(actionName: "Index")" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> Fechar</a>
        </div>
    </div>
}
